<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.a {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.a:hover {
  background-color: #3e8e41;
  color: white;
