body {
   background-color: gray;
   color: black;
}

a:hover {
  background-color: yellow;
   color: white;
  font-size: 18px;
}

h1 {
   color: white;
   text-align: center;
   font-family: verdana;
   font-size: 30px

